.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

@media (max-width: 700px) {
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 30px;
  }
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

@media (max-width: 700px) {
  .blc {
    font-size: 30px;
  }
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

