<footer style="background-color: black;bottom: 0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="/"><img src="https://res.cloudinary.com/south-china-university-of-technology/image/upload/v1595278397/shareCarTemp/WeChat_Screenshot_20200718122206_krtebw.png" style="width: 220px;"></a></h3>
                
                <p class="company-name">ShareACar © 2020 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Higher Education Mega Center South</span> Guangzhou, China</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +8801726941974</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" >iamzulkarnine@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> ShareACar is a demo application made by Zulkarnine</p>
                <div class="social-links social-icons"><a href="https://github.com/Zulkarnine1"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>