<nav class="navbar navbar-light navbar-expand-md navigation-clean mainNav">
        <div class="container"><a class="navbar-brand" href="/" style="width: 300px;min-width: 220px;margin-right: -2rem!important;"><img class="logo" src="https://res.cloudinary.com/south-china-university-of-technology/image/upload/v1595278397/shareCarTemp/WeChat_Screenshot_20200718122206_krtebw.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="background-image: url(&quot;https://res.cloudinary.com/south-china-university-of-technology/image/upload/v1595276367/shareCarTemp/425-4251166_menu-bar-icon-white-clipart_vtzlgv.png&quot;);"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline search-form">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" style="background-color: beige;"><i class="fa fa-search"></i></span></div>

                        <input class="form-control" id="searchInput" data-query="" type="text" placeholder="Car id, name, or catagory">


                        <div class="input-group-append"><button class="btn btn-light" id="searchBtn" type="button" style="background-color: beige;">Search </button></div>
                    </div>
                </form>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/myrents"><i class="fa fa-suitcase"></i> My rents</a></li>
                    
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/account"><i class="fa fa-user"></i> Account</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/signin">Sign in</a><a class="dropdown-item" role="presentation" href="/signup">Sign up</a></div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>

    